<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016349122967-ggj9omo5bh77cogv7au3o21tgi2s8s4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016349122967-ggj9omo5bh77cogv7au3o21tgi2s8s4n</string>
	<key>API_KEY</key>
	<string>AIzaSyBECI4pjL3hPPucksLjhskvgmt1KYs8B6o</string>
	<key>GCM_SENDER_ID</key>
	<string>1016349122967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gongtae.Hypeclass</string>
	<key>PROJECT_ID</key>
	<string>hypeclass-95cdb</string>
	<key>STORAGE_BUCKET</key>
	<string>hypeclass-95cdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016349122967:ios:4b032d0bb273016988a4d2</string>
</dict>
</plist>